<div class="footer-social">
    <div class="footer-social-item">
        <a href="https://www.facebook.com/prefeituradewitmarsum/" target="_blank" rel="noopener noreferrer" title="Facebook - Prefeitura Witmarsum">
            <img src="https://www.freeiconspng.com/uploads/facebook-logo-3.png" alt="Facebook">
        </a>
        <span class="arroba">Prefeitura Witmarsum</span>
    </div>
    <div class="footer-social-item">
        <a href="https://www.instagram.com/prefeiturawitmarsum/" target="_blank" rel="noopener noreferrer" title="Instagram - @prefeiturawitmarsum">
            <img src="https://freelogopng.com/images/all_img/1658588965instagram-logo-png-transparent-background.png" alt="Instagram">
        </a>
        <span class="arroba">@prefeiturawitmarsum</span>
    </div>
</div>
<div class="footer-about">
    <p>Páginas</p>
    <ul>
        <li><a href="index.html">Início</a></li>
        <li><a href="about.html">Sobre</a></li>
        <li><a href="contacts.html">Contatos</a></li>
        <li><a href="historia.html">História</a></li>
    </ul>
</div>
<div class="footer-suport">
    <p>Atendimento</p>
    <ul>
        <li>Prefeitura: (47) 3358-1300</li>
        <li>Segunda a sexta, 8h às 12h e 14h às 17h</li>
    </ul>
</div>
