<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets//style/index.css">
    <script src="/assets/script/main.js"></script>
    <link rel="stylesheet" href="./assets/style/footer.css">
</head>
<body>
    <div class="footer">
        <div class="navbar">
            <img src="https://www.freeiconspng.com/uploads/facebook-logo-3.png" alt="facebook"> 
            <p class="arroba"> @Só com capa FC </p> 
            <img src="https://tse2.mm.bing.net/th/id/OIP.1DEuoJmu1jx8RJAU3ZZSiAHaHa?rs=1&pid=ImgDetMain&o=7&rm=3" alt="X">
            <p class="arroba"> @Só com capa FC </p>
            <img src="https://freelogopng.com/images/all_img/1658588965instagram-logo-png-transparent-background.png" alt="instagram"> 
            <p class="arroba"> @Só com capa FC </p>
        </div>
        <p class="cc">Todos os direitos reservados a @Só com capa FC</p>
</body>
</html>
